html,body{
    margin:0;
    padding:0;
}

h1 {
    font-size:2rem;
    font-family: 'StormningRegular';
    
    font-size:4rem;
}

.text-wrapper{
    text-align:center;
    margin-top:40%;
    display:flex;
    background-color:rgb(0, 0, 0, 0.5);
    padding:40px;
    justify-content:center;
    color:white;
}

img{
    width:100px;
    height:auto;
}

.sidebar{
    
     height:100vh;
     background:url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80) no-repeat center/cover;
     min-width:40vw;
    
}


.container{
    display:flex;
}

ul{
    list-style:none;
    display:flex;
}

li {
    margin-top: 1em;
}

label, input {
    display:block;
}

label{
    font-size:10px;
}

input{ 
    border:#E5E7EB 1px solid;
    border-radius:4px;
}

.input_container{
    margin-right:50px;
}

form{
    box-shadow: 1px 1px 5px grey;
    padding: 20px;
}

p{
    padding-left: 40px;
    padding-right:80px;
}

p:first-child{
    margin-top: 80px;
}

p:nth-child(2){
    margin-bottom: 80px;
    font-weight:bold;
}

button{
    margin-top:20px;
    margin-left:40px;
    background-color:#596D48;
    border: none;
    border-radius: 5px;
    padding:10px 20px;
    color:white;
    
}

legend{
    margin-left: 40px
}

input:focus{
    outline:none;
    border-color:lightskyblue;
    box-shadow:1px 1px 5px grey;
}